{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminPage.css') }}">
{% endblock %}
{% block body %}
    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %} {{ msg }} <i class="ti-close" id="flash-message-close" style="float:right;cursor:pointer;"></i> {% endfor %}
    {% endif %}
    <h1>Article Admin</h1>
    <div class="admin-page-summary">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Titre
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                    </thead>
                    {% for article in articles %}
                        {% if article.articleCommentReports | length > 0 %}
                        <tbody>
                        <tr class="article-row">
                            <td>
                                {{ article.author.username }}
                            </td>
                            <td>
                                {{ article.articleCommentReports | length }}
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-primary btn-sm">Primary</button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{{ path('articleRead', {'id': article.id}) }}">Voir l'article</a>
                                            <a class="dropdown-item js-delete" href="{{ path('articleComment_delete', {'id': article.id}) }}">Supprimer</a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}