{% extends 'base.html.twig' %}
{% form_theme formTopic 'bootstrap_4_layout.html.twig' %}
{% block body %}

    <h1>Création d'un topic!</h1>

    {{ form_start(formTopic) }}

    {{ form_row(formTopic.name, {'attr': {'placeholder': 'titre'}}) }}
    {{ form_row(formTopic.category) }}
    {{ form_row(formTopic.content,{'attr': {'placeholder': 'contenu'}}) }}

    <button type="submit" class="btn btn-success">Ajouter l'article</button>

    {{ form_end(formTopic) }}
{% endblock %}