{% extends 'base.html.twig' %}
{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formCreation.css') }}">
{% endblock %}
{% block body %}
    <div class="form-creation p-4 mb-3">
        <h1 class="title-creation-page mt-5 text-center">
    {% if editMode %}
            Modification d'un article !
    {% else %}
        Création d'un article !
    {% endif %}
        </h1>
    {{ form_start(formArticle) }}
    {{ form_row(formArticle.name, {'attr': {'placeholder': 'titre'}}) }}
    {{ form_row(formArticle.category) }}
    {{ form_row(formArticle.content,{'attr': {'placeholder': 'contenu', 'class': 'editor'}}) }}
    {% if app.session.flashBag.has('notice') %}
        {% for msg in app.session.flashBag.get('notice') %}
            <div class="alert alert-danger">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    {{ form_row(formArticle.image, {'attr': {'class': 'custom-file-name'}}) }}

    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Modifier l'article
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>
    {{ form_end(formArticle) }}
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="{{ asset('js/inputFix.js') }}"></script>
    <script src="{{ asset('js/editor.js') }}"></script>
    <script src="{{ asset('js/fr_FR.js') }}"></script>
{% endblock %}