{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/dashboard.css') }}">
{% endblock %}
{% block title %}Dashboard{% endblock %}
{% block body %}
    <div class="main-dashboard">
        <h2 class="text-center">Bienvenue sur votre dashboard {{ app.user.username }}</h2>
        <div class="row">
            <div class="col-md-6 mb-5">
                <div class="col-12">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon text-center">
                                <i class="fas fa-fw fa-newspaper"></i>
                            </div>
                            <div class="mr-5">Il y a un total de {{ articles | length }} articles sur le site !</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('administration_article', {'page': "1"})}}">
                            <span class="float-left">Éditer un article</span>
                            <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('article_creation')}}">
                            <span class="float-left">Créer un article</span>
                            <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card text-white bg-dark o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon text-center">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">Les utilisateurs ont réagi {{ articlesComments | length }} fois aux articles !</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('administration_articleComments', {'page': "1"}) }}">
                            <span class="float-left">Modérer les commentaires signalés</span>
                            <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="col-12">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon text-center">
                                <i class="fab fa-fw fa-stack-exchange"></i>
                            </div>
                            <div class="mr-5">Les utilisateurs ont créé {{ topics | length }} topics dans le forum</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('administration_forum', {'page': "1"})}}">
                            <span class="float-left">Modérer les topics</span>
                            <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('forum_home') }}">
                            <span class="float-left">Voir le forum</span>
                            <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card text-white bg-dark o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon text-center">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5">{{ topicsComments | length }} réponses on étaient faites sur le forum !</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="{{ path('administration_forumComments', {'page': "1"}) }}">
                            <span class="float-left">Modérer les commentaires signalés</span>
                            <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 dashboard-users">
                <div class="card text-white bg-dark o-hidden h-100 col-12">
                    <div class="card-body">
                        <div class="card-body-icon text-center">
                            <i class="fas fa-fw fa-comments"></i>
                        </div>
                        <div class="mr-5">Il y a {{ users | length }} inscrit </div>
                    </div>
                    <a class="card-footer text-white clearfix small z-1" href="{{ path('administration_users', {'page': "1"})}}">
                        <span class="float-left">Voir les utilisateurs</span>
                        <span class="float-right">
                          <i class="fas fa-angle-right"></i>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}

{% endblock %}

