{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminPage.css') }}">
{% endblock %}
{% block body %}
    <h1>Forum Admin</h1>
    <div class="admin-page-summary">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Titre
                        </th>
                        <th>
                            Signalement
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                    </thead>
                    {% for topic in topics %}
                        {% if topic.topicCommentReports | length > 0 %}
                        <tbody>
                        <tr>
                            <td>
                                {{ topic.author.username }}
                            </td>
                            <td>
                                {{ topic.topicCommentReports | length }}
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-primary btn-sm">Primary</button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{{ path('topic_view', {'id': topic.id}) }}">Lire le sujet</a>
                                            <a class="dropdown-item js-delete" href="{{ path('topicComment_delete', {'id': topic.id}) }}">Supprimer </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}

