{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/adminPage.css') }}">
{% endblock %}
{% block title %}Topic admin{% endblock %}
{% block body %}
    {% if app.session.flashBag.has('success') %}
        {% for msg in app.session.flashBag.get('success') %} {{ msg }} <i class="ti-close" id="flash-message-close" style="float:right;cursor:pointer;"></i> {% endfor %}
    {% endif %}
    <h1 class="mt-5 text-center">Forum Admin</h1>
    <div class="admin-page-summary">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            Auteur
                        </th>
                        <th>
                           Signalement
                        </th>
                        <th>
                            Options
                        </th>
                    </tr>
                    </thead>
                    {% for topic in topics %}
                        <tbody>
                        <tr>
                            <td>
                                {{ topic.author.username }}
                            </td>
                            <td>
                                {{ topic.report }}
                            </td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <button type="button" class="btn btn-primary btn-sm">Primary</button>
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <a class="dropdown-item" href="{{ path('topic_view', {'id': topic.id}) }}">Lire le sujet</a>
                                            <a class="dropdown-item js-delete" href="{{ path('topic_delete', {'id': topic.id}) }}">Supprimer le sujet </a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div>
            <ul class="pagination pagination-sm">
                {%  if page > 1 %}
                    <li class="page-item">
                        <a class="page-link" href="{{path('administration_forum',{'page': page-1}) }}">&laquo;</a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" href="{{path('administration_forum',{'page': page-1}) }}" >{{ page - 1}}</a>
                    </li>
                {% endif %}
                <li class="page-item active">
                    <a class="page-link" href="{{path('administration_forum',{'page': page}) }}" >{{ page}}</a>
                </li>
                {%  if page < nb_pages %}
                    <li class="page-item">
                        <a class="page-link" href="{{path('administration_forum',{'page': page+1}) }}" >{{ page + 1}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{{path('administration_forum',{'page':page+1 }) }}" >&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/delete.js') }}"></script>
{% endblock %}

