{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forumCategory.css') }}">
{% endblock %}
{% block body %}
    <div id="forum-category-view" class="card">
    <h1>Nom categorie : {{ category.name }}</h1>
    <div class="row">
        {% for topic in category.topics %}
        <div class="col-md-11" id="card-category-forum">
            <h5><a href="{{ path('topic_view', {'id': topic.id}) }}">{{ topic.name }}</a></h5>
                <div class="d-flex justify-content-between">
                    <p>Le {{ topic.createdAt|date('d-m-Y') }} par {{ topic.author.username }} </p>
                    <p>Message {{ topic.topicscomments | length}} , <i class="fas fa-thumbs-up"></i> {{ topic.topicLikes.count }} </p>
                </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/like.js') }}"></script>
    <script src="{{ asset('js/report.js') }}"></script>
{% endblock %}