{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/forumSummary.css') }}">
{% endblock %}
{% block body %}
    <div id="forum-category-view">


    <h1>Nom categorie : {{ category.name }}</h1>
    {% for topic in category.topics %}
        <div class="card mb-3" id="forum-topic">
            <h3>{{ topic.name }}</h3>
            <div class="d-flex justify-content-between">
            <p>Par {{ topic.author.username }} le {{ topic.createdAt|date('d-m-Y') }} </p>
                {% if topic.topicscomments | length > 1 %}
                <p>Reponses : {{ topic.topicscomments | length}}</p>
                {% else %}

                {% endif %}
            </div>
            <a href="{{ path('topic_view', {'id': topic.id}) }}" class="btn btn-primary">Lire</a>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/like.js') }}"></script>
    <script src="{{ asset('js/report.js') }}"></script>
{% endblock %}