{% extends "base.html.twig" %}

{% block body %}


    <a href="{{ path('topic_like' , {'id': topic.id}) }}" class="btn btn-link js-like">
        {% if app.user and topic.likeByUser(app.user) %}
            <i class="fas fa-thumbs-up"></i>
        {% else %}
            <i class="far fa-thumbs-up"></i>
        {% endif %}
        <span class="js-likes">{{ topic.topicLikes.count }}</span>
        <span class="js-label">J'aime</span>
    </a>

    <a href="{{ path('report_topic', {'id': topic.id})}}" class="btn btn-link js-report">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Signaler</span>
    </a>


    <a href="#" class="btn btn-link">
        <i class="far fa-thumbs-up"></i>
        <span class="js-likes">10</span>
        <span class="js-label">J'aime</span>
    </a>
    <a href="{{ path('report_topic', {'id': topic.id}) }}" class="btn btn-link js-report">
        <i class="fas fa-exclamation-triangle"></i>
        <span>Signaler</span>
    </a>
   <h2>{{ topic.name }}</h2>
    <p>{{ topic.content | raw }}</p>
    <a class="btn btn-outline-danger" href="{{ path('report_topic', {'id': topic.id}) }}">Signaler</a>
    {% if app.user %}
        {{ form_start(commentForm) }}
        <p>{{ app.user.username }}</p>
        {{ form_row(commentForm.content, {'label':'Message', 'attr': {'placeholder': "Message"}}) }}
        <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(commentForm) }}

    {% else %}
        Connectez vous pour pouvoir mettre un com
    {% endif %}
    {% for comment in topic.topicsComments %}
        <div class="card">
            <p>{{ comment.author.username}}</p>
            <a href="{{ path('report_topic_comment', {'id': comment.id}) }}" class="btn btn-link js-report">
                <i class="fas fa-exclamation-triangle"></i>
                <span>Signaler</span>
            </a>
            <p>{{ comment.content | raw }}</p>
        </div>

    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/like.js') }}"></script>
    <script src="{{ asset('js/report.js') }}"></script>
{% endblock %}