{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ article.name }}</h1>
    <p>{{ article.content | raw }}</p>

    <h2>{{ article.ArticlesComments | length }} Commentaire :</h2>
    {% if app.user %}
    {{ form_start(commentForm) }}
    <p>{{ app.user.username }}</p>
    {{ form_row(commentForm.content, {'label':'Message', 'attr': {'placeholder': "Message"}}) }}
    <button type="submit" class="btn btn-success">Envoyer</button>
    {{ form_end(commentForm) }}
    {% else %}
    Connectez vous pour pouvoir mettre un com
    {% endif %}
    {% for comment in article.ArticlesComments %}
        <div class="card">
            <a href="{{ path('report_article_comment', {'id': comment.id}) }}" class="btn btn-link js-report">
                <i class="fas fa-exclamation-triangle"></i>
                <span>Signaler</span>
            </a>
            <p>{{ comment.author.username}}</p>
            <p>{{ comment.content | raw }}</p>
        </div>

    {% endfor %}
{% endblock %}
{% block javascripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/report.js') }}"></script>
{% endblock %}