{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/article.css') }}">
{% endblock %}
{% block body %}
    <div class="mt-5" id="main-article-page">
        <h1 class="text-center">{{ article.name }}</h1>
        <div class="text-center" id="img-article">
            {% if article.image.name is defined %}
                <img class="text-center" src="{{ path | imagine_filter ('small') }}" alt="" id="imagesm-article-page">
                <img class="text-center" src="{{ path | imagine_filter ('medium') }}" alt="" id="imagemd-article-page">
                <img class="text-center" src="{{ path | imagine_filter ('big') }}" alt="" id="imagelg-article-page">
            {% else %}
            {% endif %}
        </div>
        <p>{{ article.content | raw }}</p>
        <div class="mt-5 mb-5" id="article-author-date">
            <p>Publier le {{ article.createdAt | date('d-m-Y') }} par <span>{{ article.author.username }}</span></p>
        </div>
    </div>
    <div class="article-comment">
        <h2 class="text-center mt-5">
            {% if article.ArticlesComments | length > 1 %}
                {{ article.ArticlesComments | length }} Commentaires
            {% elseif article.ArticlesComments | length == 1 %}
                {{ article.ArticlesComments | length }} Commentaire
            {% else %}
                Soyez le premier à commenter cet article {% if app.user %} {{ app.user.username }}!{% endif %}
            {% endif %}
    </h2>

    <div id="editor">
        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content, {'label':'Message', 'attr': {'placeholder': "Message", 'class': 'editor'}}) }}
        <button type="submit" class="btn btn-success mb-5">Envoyer</button>
        {{ form_end(commentForm) }}
        {% else %}
        Connectez vous pour pouvoir mettre un com
        {% endif %}
    </div>

        {% for comment in article.ArticlesComments %}

            <div class="media card flex-row p-2 mb-2">
                <div>
                    {% if comment.author.image.name is defined %}
                        <img class="card-img-left" src="{{ asset('img/uploaded-img/user-img/')~comment.author.image.name }}" alt="" style="max-width: 150px;max-height: 150px;min-width: 100px;min-height: 100px;">
                    {% else %}
                        <img src="{{ asset('img/user/avatar-default.png') }}" alt="" style="max-width: 150px;max-height: 150px;min-width: 100px;min-height: 100px;">
                    {% endif %}
                    <p class="mr-2 pt-2">{{ comment.author.username}}</p>
                    <p>Message : <span>{{ comment.author.articlesComments | length }}</span></p>
                </div>
                <div class="media-body pr-5 pl-2 ml-4" id="profile-article-comment">
                    <div class="d-flex w-100 justify-content-between">
                        <span>Le : {{ comment.createdAt | date ("d-m-Y") }}</span>
                        <a href="{{ path('report_article_comment', {'id': comment.id}) }}" class="btn btn-link js-report">
                            <i class="fas fa-exclamation-triangle"></i>
                            <span>Signaler</span>
                        </a>
                    </div>
                    <div class="card p-2">
                    <p>{{ comment.content | raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/editor.js') }}"></script>
    <script src="{{ asset('js/fr_FR.js') }}"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="{{ asset('js/report.js') }}"></script>
{% endblock %}

